<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>654008535743-a7d9e8s8pck4f4c4f0c46tii54rn5nkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654008535743-a7d9e8s8pck4f4c4f0c46tii54rn5nkj</string>
	<key>API_KEY</key>
	<string>AIzaSyCfDkvE69nGxq-jzg9bnJCbSeUSEHGafNo</string>
	<key>GCM_SENDER_ID</key>
	<string>654008535743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tn.esprit.NearByTeachers.NearByTeacher</string>
	<key>PROJECT_ID</key>
	<string>near-7aa1e</string>
	<key>STORAGE_BUCKET</key>
	<string>near-7aa1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:654008535743:ios:6dd15a8154b1314d</string>
	<key>DATABASE_URL</key>
	<string>https://near-7aa1e.firebaseio.com</string>
</dict>
</plist>